<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>

    <link rel="stylesheet" href="./src/main/css/styles.css" type="text/css">
</head>
<body>
    <div id="menu">
        <a href="/">Página Inicial</a>
        <a href="/cliente">Cliente</a>
    </div>
    <div id="Cadastro">
        <form id="clientForm" action="/cliente-form" method="post">
            <div>
                <label for="name">RG:</label>
                <input type="text" id="name" />
            </div>
            <div>
                <label for="mail">CPF:</label>
                <input type="number" id="mail" />
            </div>
            <div>
                <label for="msg">Profissao:</label>
                <input type="text" id="name" />
            </div>
            <div class="button">
                <button type="submit">Cadastrar Cliente</button>
            </div>
        </form>
    </div>

    <div id="Atualização">
        <p>Digite os dados do cliente a serem alterados (busca feita por RG)</p>
        <form id="clientForm" action="/cliente-form" method="patch">
            <div>
                <label for="name">RG:</label>
                <input type="text" id="name" />
            </div>
            <div>
                <label for="mail">CPF:</label>
                <input type="number" id="mail" />
            </div>
            <div>
                <label for="msg">Profissao:</label>
                <input type="text" id="name" />
            </div>
            <div class="button">
                <button type="submit">Atualizar Cliente</button>
            </div>
        </form>
    </div>

    <div id="Remoção">
        <p>Digite os dados do cliente a ser removido (busca feita por RG)</p>
        <form id="clientForm" action="/cliente-form" method="patch">
            <div>
                <label for="name">RG:</label>
                <input type="text" id="name" />
            </div>
            <div>
                <label for="mail">CPF:</label>
                <input type="number" id="mail" />
            </div>
            <div>
                <label for="msg">Profissao:</label>
                <input type="text" id="name" />
            </div>
            <div class="button">
                <button type="submit">Atualizar Cliente</button>
            </div>
        </form>
    </div>

    <div id="listaClientes">
        <h3>Lista de Clientes</h3>
        <table>
            <tr>
                <th>RG</th>
                <th>CPF</th>
                <th>Profissão</th>
            </tr>
        </table>
        <div class="button">
            <button type="submit" formmethod="get">Buscar Clientes</button>
        </div>
    </div>
</body>
</html>