<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Home')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Sistema estudantil')}"></header>

    <main>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      <div class="container mt-4">
        <div th:hidden="true" class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            th:onclick="'window.location.href=\'/alunos\''"
          >
            Alunos
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            th:onclick="'window.location.href=\'/empresas\''"
          >
            Empresas
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            th:onclick="'window.location.href=\'/professores\''"
          >
            Professores
          </button>
        </div>
        <div>
          <form action="/login" method="POST">
            <h2>Login</h2>
            <label for="nome">Nome</label>
            <input class="form-control" type="text" id="nome" name="nome" />
            <label for="senha">Senha</label>
            <input class="form-control" type="text" id="senha" name="senha" />
            <button class="btn btn-primary" type="submit">Login</button>
          </form>
        </div>
        <hr>
        <div class="list-group mt-4">
          <button class="list-group-item list-group-item-action">
            <a href="/alunos/new">Novo aluno</a>
          </button>
          <button class="list-group-item list-group-item-action">
            <a href="/empresas/new">Nova empresa</a>
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
