<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de alunos')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header(${aluno.nome})}"></header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><b>Nome:</b> <span th:text="${aluno.nome}"></span></p>
            <p><b>CPF:</b> <span th:text="${aluno.cpf}"></span></p>
            <p><b>Endereço:</b> <span th:text="${aluno.endereco}"></span></p>
            <p><b>Email:</b> <span th:text="${aluno.email}"></span></p>
            <p><b>Curso:</b> <span th:text="${aluno.curso}"></span></p>
        
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Diferença de moedas</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="professor: ${professores}">
                <tr th:each="item, itemStat : *{historico}">
                  <td><input th:field="*{historico[__${itemStat.index}__].value}" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-primary"
              th:href="@{/alunos/{alunoId}/vantagens(alunoId = ${aluno.id})}"
              >Vantagens</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
