<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de alunos')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header(${aluno.nome})}"></header>

    <main>
      <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-primary" role="alert" th:text="${success2}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><b>Nome:</b> <span th:text="${aluno.nome}"></span></p>
            <p><b>CPF:</b> <span th:text="${aluno.cpf}"></span></p>
            <p><b>Endereço:</b> <span th:text="${aluno.endereco}"></span></p>
            <p><b>Email:</b> <span th:text="${aluno.email}"></span></p>
            <p><b>Curso:</b> <span th:text="${aluno.curso}"></span></p>
            <p><b>Instituição de Ensino:</b> <span th:text="${aluno.instituicaoEnsino}"></span></p>
            <p><b>Moedas:</b> <span th:text="${aluno.moedas}"></span></p>
          </div>
        </div>
        <p></p><p></p><p></p>
        <div class="col-12">
          <table class="table">
            <p><strong>Extrato de transferência</strong></p>
            <thead>
              <tr>
                <th>Id</th>
                <th>Remetente</th>
                <th>Id</th>
                <th>Destinatário</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="historico: ${historico}">
                <th th:text="${historico.idRemetente}"></th>
                <th th:text="${historico.nomeRemetente}"></th>
                <td th:text="${historico.idDestinatario}"></td>
                <td th:text="${historico.nomeDestinatario}"></td>
                <td th:text="${historico.quantidade}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p></p><p></p><p></p>
        <div class="col-12">
          <table class="table">
            <p><strong>Vantagens adquiridas</strong></p>
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Valor da Vantagem</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="vantagens: ${vantagens}">
                <th th:text="${vantagens.descricao}"></th>
                <th th:text="${vantagens.valorVantagem}"></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-primary"
              th:href="@{/alunos/{alunoId}/comprarVantagemForm(alunoId = ${aluno.id})}"
              >Comprar Vantagem</a
            >
            <a
              class="btn btn-primary"
              th:href="@{/alunos/{alunoId}/edit(alunoId = ${aluno.id})}"
              >Editar</a
            >
            <a
              class="btn btn-primary"
              th:href="@{/alunos/{alunoId}/delete(alunoId = ${aluno.id})}"
              >Excluir Aluno</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
