<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Nova empresa')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Nova empresa')}"></header>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="/empresas" method="POST">
            <div>
              <label for="nome">Nome</label>
              <input class="form-control" type="text" id="nome" name="nome" />
            </div>
            <div>
              <label for="senha">Senha</label>
              <input class="form-control" type="text" id="senha" name="senha" />
            </div>
            <div>
              <label for="email">Email</label>
              <input class="form-control" type="text" id="email" name="email" />
            </div>
            <div>
              <button class="btn btn-primary mt-4" type="submit">
                Cadastrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
