<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de aluguéis')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Aluguel')}"></header>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Automóvel</th>
                <th>Data de início</th>
                <th>Data de término</th>
                <th>Contrato de crédito</th>
                <th>Id Cliente</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="aluguel: ${alugueis}">
                <th th:text="${aluguel.id}"></th>
                <td th:text="${aluguel.automovel}"></td>
                <td th:text="${aluguel.dataInicio}"></td>
                <td th:text="${aluguel.dataFim}"></td>
                <td th:text="${aluguel.contrato}"></td>
                <td th:text="${aluguel.idCliente}"></td>

                <td>
                  <a
                    th:href="@{/aluguel/{aluguelId}(aluguelId = ${aluguel.id})}"
                    >Detalhes</a
                  >
                </td>
                <td>
                  <a
                    th:if="${idCliente != null}"
                    th:href="@{/clientes/{idCliente}/aluguel/{aluguelId}/delete(aluguelId = ${aluguel.id}, idCliente = ${idCliente})}"
                    >Deletar</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div th:if="${idCliente != null}" class="row">
        <div class="col-12">
          <a
            th:href="@{/clientes/{idCliente}/aluguel/new(idCliente = ${idCliente})}"
            >Novo aluguel</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
