<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de aluguéis')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Aluguel')}"></header>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Automóvel</th>
                <th>Data de início</th>
                <th>Data de término</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>                
              </tr>
            </thead>
            <tbody>
              <tr th:each="aluguel: ${alugueis}">
                <th th:text="${aluguel.id}"></th>
                <td th:text="${aluguel.automovel}"></td>
                <td th:text="${aluguel.dataInicio}"></td>
                <td th:text="${aluguel.dataFim}"></td>

                <td>
                  <a
                    th:href="@{/aluguel/{aluguelId}(aluguelId = ${aluguel.id})}"
                    >Detalhes</a
                  >
                </td>
                <td>
                  <a
                    th:href="@{/aluguel/{aluguelId}/edit(aluguelId = ${aluguel.id})}"
                    >Editar</a
                  >
                </td>
                <td>
                  <a
                    th:href="@{/aluguel/{aluguelId}/delete(aluguelId = ${aluguel.id})}"
                    >Deletar</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/aluguel/new">Novo aluguel</a>
        </div>
      </div>
    </div>
  </body>
</html>
