<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de clientes')}"></head>
  <body>
    <header
      th:replace="~{fragmentos :: header('Aluguel ' + ${aluguel.id})}"
    ></header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><b>Id:</b> <span th:text="${aluguel.id}"></span></p>
            <p>
              <b>Id do cliente:</b>
              <span th:text="${aluguel.idCliente}"></span>
              <a class="ms-4"
                th:href="@{/clientes/{idCliente}(idCliente = ${aluguel.idCliente})}"
                >Ver cliente</a
              >
            </p>
            <p><b>Veículo:</b> <span th:text="${aluguel.automovel}"></span></p>
            <p>
              <b>Data de início:</b>
              <span th:text="${aluguel.dataInicio}"></span>
            </p>
            <p>
              <b>Data de término:</b>
              <span th:text="${aluguel.dataFim}"></span>
            </p>
            <p>
              <b>Possui contrato:</b>
              <span th:text="${aluguel.contrato} ? 'Sim' : 'Não'"></span>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
