<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Editar')}"></head>
  <body>
    <header
      th:replace="~{fragmentos :: header('Editar ' + ${professor.nome})}"
    ></header>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <form
            th:object="${professor}"
            th:action="@{/professores/{professorId}(professorId = ${professor.id})}"
            method="POST"
          >
            <div>
              <label for="nome">Nome</label>
              <input class="form-control" type="text" th:field="*{nome}" />
            </div>
            <div>
              <label for="senha">Senha</label>
              <input class="form-control" type="text" th:field="*{senha}" />
            </div>
            <div>
              <label for="cpf">CPF</label>
              <input class="form-control" type="text" th:field="*{cpf}" />
            </div>
            <div>
              <label for="email">Instituição de ensino</label>
              <input class="form-control" type="text" th:field="*{InstituicaoEnsino}" />
            </div>
            <div>
              <label for="moedas">Moedas</label>
              <input class="form-control" type="text" th:field="*{moedas}" />
            </div>
            <div>
              <button class="btn btn-primary mt-4" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
