<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de professores')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header(${professor.nome})}"></header>

    <main>
      <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><b>Nome:</b> <span th:text="${professor.nome}"></span></p>
            <p><b>CPF:</b> <span th:text="${professor.cpf}"></span></p>
            <p><b>Instituição de Ensino:</b> <span th:text="${professor.instituicaoEnsino}"></span></p>
            <p><b>Moedas:</b> <span th:text="${professor.moedas}"></span></p>
        </div>
        <p></p><p></p><p></p>
        <div class="col-12">
          <p><strong>Extrato de transferência</strong></p>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Remetente</th>
                <th>Id</th>
                <th>Destinatário</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="historico: ${historico}">
                <th th:text="${historico.idRemetente}"></th>
                <th th:text="${historico.nomeRemetente}"></th>
                <td th:text="${historico.idDestinatario}"></td>
                <td th:text="${historico.nomeDestinatario}"></td>
                <td th:text="${historico.quantidade}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-primary"
              th:href="@{/professores/{professorId}/transferirMoedasForm(professorId = ${professor.id})}"
              >Transferir Moedas</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
