<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de vantagens')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Vantagem')}"></header>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor da Vantagem</th>
                <th>Custo da Vantagem</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="vantagem: ${vantagens}">
                <th th:text="${vantagem.id}"></th>
                <th th:text="${vantagem.nome}"></th>
                <td th:text="${vantagem.valorVantagem}"></td>
                <td th:text="${vantagem.custoVantagem}"></td>
                <td>
                  <a
                    th:href="@{/empresas/{id}/vantagem/{vantagemId}(vantagemId = ${vantagem.id}, id = ${empresa.id})}"
                    >Detalhes</a>
                </td>
                <td>
                  <a
                    th:href="@{/empresas/{id}/vantagem/{vantagemId}/edit(vantagemId = ${vantagem.id}, id = ${empresa.id})}"
                    >Editar</a>
                </td>
                <td>
                  <a
                    th:href="@{/empresas/{id}/vantagem/{vantagemId}/delete(vantagemId = ${vantagem.id}, id = ${empresa.id})}"
                    >Deletar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a th:href="@{/empresas/{id}(id = ${empresa.id})}">Voltar</a>
          <a th:href="@{/empresas/{id}/vantagem/new(id = ${empresa.id})}">Nova vantagem</a>
        </div>
      </div>
    </div>
  </body>
</html>
