<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de empresas')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header(${vantagem.descricao})}"></header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><b>Id:</b> <span th:text="${vantagem.id}"></span></p>
            <p><b>Nome:</b> <span th:text="${vantagem.nome}"></span></p>
            <p><b>Descrição:</b> <span th:text="${vantagem.descricao}"></span></p>
            <p><b>Valor da Vantagem:</b> <span th:text="${vantagem.valorVantagem}"></span></p>
            <p><b>Custo da Vantagem:</b> <span th:text="${vantagem.custoVantagem}"></span></p>
          </div>
        </div>
        <div class="row">
          <p><strong>Foto:</strong></p>
          <div class="col-6">
            <img th:src="${vantagem.foto}">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-primary"
              th:href="@{/empresas/{id}/vantagem/(id = ${empresa.id})}"
              >Voltar</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
