<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Lista de clientes')}"></head>
  <body>
    <header th:replace="~{fragmentos :: header('Clientes')}"></header>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cliente: ${clientes}">
                <th th:text="${cliente.id}"></th>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td> <a th:href="@{/clientes/{clienteId}(clienteId = ${cliente.id})}">Detalhes</a> </td>
                <td>Editar</td>
                <td>Deletar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <a href="/clientes/new">Novo cliente</a>
  </body>
</html>
