<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de clientes</title>
  </head>
  <body>
    <h1>Lista de clientes</h1>

    <div class="row">
      <div class="col-12">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>CPF</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente: ${clientes}">
              <th th:text="${cliente.getId()}"></th>
              <td th:text="${cliente.nome}"></td>
              <td th:text="${cliente.cpf}"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
